/* -------------------- Home Section -------------------- */

section#home {
    position: relative;
}

div.home {
    position: relative;
    padding: 10rem 4rem 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* ---------- Text Content ---------- */

div.home .text_content {
    margin: 4rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80rem;
    z-index: 1;
}

div.home .text_content h2 {
    position: relative;
    margin: 1rem 0 2rem;
    font-size: 6.5rem;
    font-weight: 700;
    font-family: "Gabriela", var(--textfont), serif;
    color: var(--secondary);
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.5px;
    text-shadow: 2px 2px var(--primary);
    user-select: none;
}

div.home .text_content h2 img {
    width: 4.5rem;
    height: auto;
    animation: rotate 6s linear infinite;
}

div.home .text_content h2 img:nth-child(1) {
    margin-left: -1.4rem;
    margin-right: -8px;
}

div.home .text_content h2 img:nth-child(2) {
    margin-right: -1.8rem;
    margin-left: -6px;
}

div.home .text_content h4 {
    margin: 2rem 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: var(--textfont);
    color: var(--secondary);
    background: var(--quaternary);
    text-align: center;
    width: max-content;
}

div.home .text_content p {
    margin: 1rem auto;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var(--mainfont);
    color: var(--tertiary);
    text-align: center;
}

div.home .text_content .home_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home .text_content .home_btn a {
    position: relative;
    margin: 2rem;
    padding: 1.8rem 3rem;
    width: 20rem;
    height: 6rem;
    color: var(--secondary);
    background: var(--primary);
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in-out;
}

div.home .text_content .home_btn a:hover {
    filter: brightness(110%);
}

div.home .text_content .home_btn a img {
    margin: 0 5px;
    width: 2.5rem;
    height: auto;
}

div.home .text_content .home_btn a span {
    margin: 0 5px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--mainfont);
    text-align: center;
}

div.home .text_content .home_btn a:nth-child(2) {
    background: var(--quaternary);
    overflow: hidden;
}

div.home .text_content .home_btn a:hover:nth-child(2) {
    filter: brightness(95%);
}

div.home .text_content .home_btn a:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1.5px solid var(--secondary);
    opacity: 0.05;
    transition: all 0.15s ease-in-out;
}

div.home .text_content .home_btn a:nth-child(2) img {
    width: 2.8rem;
}

@media (max-width: 992px) {
    div.home .text_content h2 {
        font-size: 6rem;
    }

    div.home .text_content h2 img {
        width: 4rem;
        height: auto;
    }
}

@media (max-width: 768px) {
    div.home .text_content {
        width: 100%;
    }
}

@media (max-width: 552px) {
    div.home {
        height: 100%;
    }

    div.home .text_content h2 {
        font-size: 4.5rem;
    }

    div.home .text_content h2 img {
        width: 3.5rem;
        height: auto;
    }

    div.home .text_content h2 img:nth-child(1) {
        margin-left: -0.8rem;
        margin-right: -3px;
    }

    div.home .text_content h2 img:nth-child(2) {
        margin-right: -1.2rem;
        margin-left: -5px;
    }

    div.home .text_content .home_btn {
        flex-direction: column;
    }

    div.home .text_content .home_btn a {
        margin: 1rem;
        width: 18rem;
    }

    div.home .text_content .home_btn a:nth-child(2) img {
        transform: scale(1.4);
    }
}

/* ---------- Image Content ---------- */

div.home .img_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div.home .img_content img:nth-child(1) {
    position: absolute;
    top: 4rem;
    left: -18rem;
    width: 40rem;
    height: auto;
    animation: pulse 2s infinite ease-in-out;
}

div.home .img_content img:nth-child(2) {
    position: absolute;
    top: 0;
    right: -10rem;
    width: 30rem;
    height: auto;
    animation: pulse 2s infinite 0.4s ease-in-out;
}

div.home .img_content img:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: -5rem;
    width: 15rem;
    height: auto;
    animation: pulse 2s infinite 0.6s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-5px) scale(1.05);
    }

    0% {
        transform: translateY(0) scale(1);
    }
}

@media (max-width: 992px) {
    div.home .img_content img:nth-child(1) {
        width: 30rem;
    }

    div.home .img_content img:nth-child(2) {
        width: 20rem;
    }

    div.home .img_content img:nth-child(3) {
        width: 10rem;
    }
}

@media (max-width: 552px) {
    div.home .img_content img:nth-child(1) {
        width: 20rem;
        left: -14rem;
    }

    div.home .img_content img:nth-child(2) {
        width: 10rem;
        top: 2rem;
        right: -5rem;
    }

    div.home .img_content img:nth-child(3) {
        width: 10rem;
    }
}

/* -------------------- Messages Section -------------------- */

section#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(22, 23, 23, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}

section#message.active {
    opacity: 1;
    visibility: visible;
}

div.message {
    position: relative;
    margin: 1rem;
    padding: 2rem 6rem;
    width: 80rem;
    height: auto;
    background: var(--lightwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all 0.15s ease-in-out;
    transition-delay: 0.1s;
}

section#message.active div.message {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

div.message h2 {
    margin: 1rem 0;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: var(--textfont);
    color: var(--secondary);
    text-align: left;
    line-height: 100%;
    letter-spacing: -1px;
}

div.message h2 span {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--secondary);
    letter-spacing: 0.4px;
    z-index: 1;
}

div.message h2 span::after {
    content: attr(data-text);
    position: absolute;
    right: -2px;
    bottom: -3px;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: var(--primary);
    z-index: -1;
}

div.message p {
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: var(--mainfont);
    color: var(--tertiary);
    text-align: left;
}

div.message img {
    margin: 1rem auto;
    width: 20rem;
    height: auto;
}

div.message img.dev_img {
    width: 25rem;
}

div.message .closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: var(--errorColor) !important;
    background: rgba(239, 68, 68, 0.05) !important;
    border: 2px solid rgba(239, 68, 68, 0.5) !important;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

div.message .closeBtn:hover {
    background: rgba(239, 68, 68, 0.2) !important;
}

@media (max-width: 768px) {
    div.message {
        padding: 2rem;
    }

    div.message h2 {
        font-size: 3.2rem;
    }

    div.message h2 span {
        font-size: 4.2rem;
    }
}

@media (max-width: 552px) {
    div.message {
        width: 100%;
        padding: 2rem;
    }

    div.message p {
        font-size: 1.7rem;
    }

    div.message img {
        width: 18rem;
    }

    div.message img.dev_img {
        display: none;
    }
}

/* -------------------- Contact Section -------------------- */

section#contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(22, 23, 23, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in-out;
}

section#contact.active {
    opacity: 1;
    visibility: visible;
}

div.contact {
    position: relative;
    margin: 1rem;
    padding: 3rem 6rem;
    width: 80rem;
    height: auto;
    background: var(--lightwhite);
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition: all 0.15s ease-in-out;
    transition-delay: 0.1s;
}

section#contact.active div.contact {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

div.contact p {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--textfont);
    color: var(--secondary);
    text-align: left;
    line-height: 0.2;
    letter-spacing: -0.4px;
}

div.contact h2 {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    font-size: 4.2rem;
    font-weight: 600;
    font-family: var(--mainfont);
    color: var(--secondary);
    letter-spacing: 0.4px;
    line-height: 1;
    z-index: 1;
}

div.contact h2::after {
    content: attr(data-text);
    position: absolute;
    right: -2px;
    bottom: -3px;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: var(--primary);
    z-index: -1;
}

div.contact .details {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 3rem;
}

div.contact .details h4 {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.contact .details h4 i {
    margin-right: 1rem;
    font-size: 5rem;
    color: var(--secondary);
    text-shadow: 1px 2px var(--primary);
}

div.contact .details h4 span {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--textfont);
    color: var(--secondary);
    text-align: left;
    letter-spacing: 0.4px;
}

div.contact .closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: var(--errorColor) !important;
    background: rgba(239, 68, 68, 0.05) !important;
    border: 2px solid rgba(239, 68, 68, 0.5) !important;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

div.contact .closeBtn:hover {
    background: rgba(239, 68, 68, 0.2) !important;
}

@media (max-width: 768px) {
    div.contact {
        padding: 2rem;
    }

    div.contact h2 {
        font-size: 3.8rem;
    }
}

@media (max-width: 552px) {
    div.contact {
        width: 100%;
    }

    div.contact p {
        font-size: 2.2rem;
    }

    div.contact .details {
        margin: 1rem 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    div.contact .details h4 {
        margin: 0;
        padding: 0.5rem 0;
    }

    div.contact .details h4 i {
        font-size: 3.5rem;
    }

    div.contact .details h4 span {
        font-size: 2.2rem;
    }
}