/* -------------------- Reset Password Page -------------------- */

header {
    backdrop-filter: blur(4px);
}

section#reset {
    margin: 10rem auto;
    padding: 1rem 7rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.reset {
    position: relative;
    padding: 2rem 4rem;
    width: 50rem;
    height: auto;
    background: var(--darkwhite);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

div.reset h2 {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--secondary);
    text-align: left;
}

div.reset h2 span {
    font-size: 3.2rem;
    font-weight: 600;
    text-shadow: 2px 2px var(--primary);
}

div.reset p {
    margin: auto;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: var(--mainfont);
    color: var(--tertiary);
    text-align: left;
}

div.reset form {
    position: relative;
    margin: 2rem 0;
}

div.reset form label {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--secondary);
    text-align: left;
    line-height: 1.4;
}

div.reset form input {
    display: block;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    padding: 0.6rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--secondary) !important;
    background: rgba(245, 195, 50, 0.1) !important;
    border: 2px solid rgba(245, 195, 50, 0.4) !important;
    border-radius: 4px;
    text-align: left;
    line-height: 1.4;
    box-shadow: none !important;
    outline: none !important;
    transition: all 0.2s ease-in-out;
}

div.reset form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

div.reset form input:focus {
    border: 2px solid rgba(245, 195, 50, 0.4);
}

div.reset form p.error,
div.reset form span {
    display: block;
    margin: 0.8rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--mainfont);
    color: var(--errorColor);
    letter-spacing: 0.2px;
}

div.reset form button {
    position: relative;
    margin: 1rem 0;
    padding: 0.8rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--secondary) !important;
    background: var(--primary) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 2px solid var(--primary);
    border-radius: 4px;
    text-align: center;
    outline: none;
    transition: all 0.2s ease-in-out;
}

div.reset form button:hover {
    filter: brightness(110%);
    transform: translateY(-2px);
}

div.reset hr {
    margin: 1rem auto 1rem;
    width: 100%;
    border: none;
    height: 2px;
    background: var(--tertiary);
}

div.reset .form_action {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

div.reset .form_action a {
    display: block;
    position: relative;
    margin: 0.5rem 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--mainfont);
    color: var(--secondary);
    line-height: 1.4;
    text-decoration: none;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

div.reset .form_action a span {
    font-weight: 600;
}

div.reset .form_action a:hover {
    color: var(--primary);
    transform: translateX(4px);
    transform-origin: left center;
}

@media (max-width: 552px) {
    section#reset {
        padding: 1rem;
    }

    div.reset {
        padding: 2rem;
    }

    div.reset form input {
        font-weight: 400;
        border: 1.5px solid rgba(245, 195, 50, 0.4) !important;
    }
}